@import url('panel1.css');
@import url('panel2.css');

body
{
    margin: 0;
    padding: 0;
    background-image: url(img/b.jpg);
    
}

p{
  padding: 0;
  margin: 5px;
}

#bac1{
  background-color: #252D1F;
  margin: 5%;
  border-radius: 40px;
  padding-top: 0.5%;
  height: 80%;
 

}


